@import "../../../assets/Main.scss";

.pic-container {
  position: relative;

  .rectangle {
    width: 45rem;
    height: 7rem;
    background-color: $main-grey;
    border-radius: 5rem;
    transform: rotate(-20deg);
  }
  .purple {
    background-color: $main-purple;
  }

  .portfolio-img {
    position: absolute;
    top: 0;
  }

  .portolio-img {
    width: 45rem;
  }
}
