@import "../../../assets/Main.scss";

.img-conteiner {
  position: relative;
}

.portfolio-img {
  width: 35rem;
  z-index: 100;
  box-shadow: 0.8rem 0.8rem 1rem 0.6rem rgba(9, 6, 101, 0.1);
}

.img-border {
  position: absolute;
  width: 35rem;
  height: 47rem;
  border: 0.1rem solid rgba(150, 89, 89, 0.537);
  top: 2rem;
  left: 2.8rem;
  z-index: 0;
}
