@import "../../../assets/globals/variables";

.skills-container {
  background-color: $main-grey;
  padding-block: 3rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo {
    width: 12.8rem;
  }

  &__title {
    font-size: 6.4rem;
  }
  &__title.react {
    padding-top: 0.5rem;
  }
  &__title.bootstrap {
    margin-top: -2rem;
  }

  &__title.tailwind {
    margin-top: -2rem;
  }
}

.developer-skills-container,
.style-skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.style-skills-container {
  margin-top: 9rem;
}
